
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Product Informations</h1>

<div class="d-flex justify-content-end">
    <a asp-action="Create" asp-controller="Products" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i> Add New Product</a>
</div>

