@model WebApplication1.Models.Specification

<div class="row mb-2">
    <div class="d-flex justify-content-end">
        <a id="deleteSkill" class="btn btn-danger btn-sm mb-2"><i class="fa fa-trash"></i></a>
    </div>
    <div>
        <table class="table table-bordered table-striped table-sm">
            <thead class="text-center">
                <tr>
                    <th>Specification Name</th>
                    <th>Specification Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input asp-for="SpecificationName" class="form-control" /></td>
                    <td><input asp-for="SpecificationDetails" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


